.gallery-breadcrumbs {
  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    a {
      color: #fff;
    }
  }
}

.album-card__title {
  text-transform: capitalize;
}

.user-card {
  .card-title {
    text-transform: capitalize;
  }
}

.photo-card {
  .card-img-top {
    cursor: pointer;
  }
  .card-title {
    text-transform: capitalize;
  }
}

.carousel-caption {
  text-transform: capitalize;
}
